body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.wrapper-3 div{
    height: 60px;
    flex: 8;

}
.wrapper-3 div:nth-child(1){
    background-color: red;
    flex:1;
}

.wrapper-3 div:nth-child(3){
    background-color: blue;
    flex:1;
}


.wrapper-8 div{
    height: 60px;
    flex:4;
}

.wrapper-8 div:nth-child(odd){
    background-color: orange;
    flex: 1;
}

.wrapper-4 div{
    background-color: blue;
    flex: 1;
}

.wrapper-4 div:nth-child(1){
    background-color: red;
    flex: 9;
}

.wrapper-5 div{
    flex:9;
    
}

.wrapper-5 div:nth-child(2){
    flex: 1;
    background-color: red;
    margin: 10px 0 10px 0;
}

.wrapper-6 div{
   flex: 9;
   background-color: red;
}

.wrapper-6 div:nth-child(2){
   background-color: blue;
   flex:1;
}

.wrapper-7 div{
  background-color: red;
  flex:1;
}
.wrapper-7 div:nth-child(2){
  background-color: green;
  flex-direction: column;
  flex:9;
  
}
.wrapper-7-child div{
  background-color: blue;
  flex:9;
  
}

.wrapper-9 div{
  flex: 1;
}

.wrapper-9 div:nth-child(odd){
  background-color: orange;
  flex:9;
}